.border__luke {
    border-color: blue;
}

.border__yoda {
    border-color: darkgreen;
}

.border__obiwan {
    border-color: cornflowerblue;
}

.border__vader {
    border-color: red;
}

.background__luke {
    background-color: blue;
}

.background__yoda {
    background-color: darkgreen;
}

.background__obiwan {
    background-color: cornflowerblue;
}

.background__vader {
    background-color: red;
}

.text__luke {
    color: blue;
}

.text__yoda {
    color: darkgreen;
}

.text__obiwan {
    color: cornflowerblue;
}

.text__vader {
    color: red;
}

.vertical-center {
    vertical-align: center;
}